@import 'variables.scss';

.collapse_about{
  margin: 38px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 80%;
    max-width: 1605px;
  @media screen and (max-width: $mobile-max-width) {
    margin: 19px auto;
    gap: 20px;
    width: 90%;
  }
}
.collapseLogement {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  margin: 24px auto 50px auto;
  width: 90%;
 &_size{
  width: 80%;
  
 }
 @media screen and (max-width: $mobile-max-width) {
  margin: 0 auto 27px auto;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  &_size{
    width: 100%;
   }
}
}


.collapse {
  &_title {
    display: flex;
    padding: 10px 15px 10px 15px;
    align-items: center;
    border-radius: 5px;
    background-color: $color-primary;
    justify-content: space-between;
    align-content: center;
    color: $color-tertiary;
    flex-wrap: wrap;
    cursor: pointer;

    h2 {
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
    }
    .arrow {
      transition: all 0.2s ease-in-out;
    }
    .arrow_down {
      transform: rotate(0deg);
    }
    .arrow_up {
      
      transform: rotate(180deg);
    }
  }

  &_description {
    display: flex;
    box-sizing: border-box;
    position: relative;
    top: -50px;
    z-index: -1;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    border-radius: 10px 10px 5px 5px;
    background: rgba(246, 246, 246, 0.45);
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out, opacity 0.2s ease-in-out;
      overflow: hidden;
    &_down {
      transform: translate(0px, 45px);
      max-height: 500px;
    }
    &_p{
      padding: 25px 20px 20px 20px;
    }
  }

  &_description_hidden {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}



@media screen and (max-width: $mobile-max-width) {
.collapse {
      &_title {
        height: 30px;

        h2 {
          font-size: 13px;
        }
        img {
          width: 20px;
        }
      }

      &_description {
        font-size: 12px;
        border-radius: 5px;
      }
    }
  }

