@import 'variables.scss';

.container_fichelogement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 30px auto 0 auto;
  @media screen and (max-width: $mobile-max-width)  {
    margin: 10px auto 0 auto;
    flex-direction: column;
  }

  .logement_title {
    h1 {
      color:$color-primary;
      font-weight: 500;
      @media screen and (max-width: $mobile-max-width) {
        font-size: 18px;
      }
    }
    h2 {
      color: #000;
      font-size: 18px;
      font-weight: 500;
      @media screen and (max-width: $mobile-max-width) {
        font-size: 14px;
      }
    }
    &_tags {
      display: block;
      margin-top: 20px;
      @media screen and (max-width: $mobile-max-width) {
        margin-top: 10px;
      }
    }
  }

  .host_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: $mobile-max-width) {
      flex-direction: row-reverse;
      align-items: center;
      margin:10px 0;
    }
    .host {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      block-size: auto;
      gap: 10px;

      &_name {
        display: flex;
        flex-direction: column;
        color: $color-primary;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        @media screen and (max-width: $mobile-max-width) {
          font-size: 12px;
        }
      }
      &_picture {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: contain;
        @media screen and (max-width: $mobile-max-width) {
          width: 32px;
          height: 32px;
        }
      }
      &_star {
        width: 24px;
        height: 24px;
        @media screen and (max-width: $mobile-max-width) {
          width: 13px;
          height: 13px;
        }
      }
    }
  }
}

