.container_fichelogement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: 30px auto 0 auto;
  max-width: 1240px;
  @media screen and (max-width: 375px) {
    width: 90%;
    margin: 10px auto 0 auto;
    flex-direction: column;
  }

  .logement_title {
    h1 {
      color: #ff6060;
      
      font-style: normal;
      font-weight: 500;
      @media screen and (max-width: 375px) {
        font-size: 18px;
      }
    }
    h2 {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      @media screen and (max-width: 375px) {
        font-size: 14px;
      }
    }
    &_tags {
      display: block;
      margin-top: 20px;
    }
  }

  .host_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 375px) {
      flex-direction: row-reverse;
      align-items: center;
      margin:10px 0;
    }
    .host {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      block-size: auto;
      gap: 10px;

      &_name {
        display: flex;
        flex-direction: column;
        color: #ff6060;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        @media screen and (max-width: 375px) {
          font-size: 12px;
        }
      }
      &_picture {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: contain;
        @media screen and (max-width: 375px) {
          width: 32px;
          height: 32px;
        }
      }
      &_star {
        width: 24px;
        height: 24px;
        @media screen and (max-width: 375px) {
          width: 13px;
          height: 13px;
        }
      }
    }
  }
}

